header {
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
body {
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    background-color: #cfcfcf;
}
nav li {
    margin-left: 0px; /*margines na zewnątrz*/
    margin-right: 0px;
    
}
nav li a {
    background-color: #cfcfcf;
    padding: 10px; /* margines wewnątrz*/
    text-decoration: none; /*podkreślenie tekstu*/
    color:black;
    border-right: 1px solid #bbbbbb;
}
nav li a:hover{
    background-color: #a2c6f6;
}
header img {
    width: 100px;
    
}

.left {
   background-color: brown; 
   width: 30%;
   margin-right: 10px;
}

.center {
    
    width: 70%;
   margin-left: 10px;
}
.main {
    display: flex;
    /*gap: 20px;*/
}
.add_cat .center {
    width: 100%;
}
input {
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 7px;
    font-size: 1.4em;
    font-style: italic;
}
label {
    font-size: 1.3em;
    padding-right: 10px;
}
.add_category input {
    width: 500px;
}
.add_category label {
    width: 200px;
    display: inline-block;
}
.add_category .item {
    margin-bottom: 20px;
}
.add_category .button {
    padding: 15px 25px;
    text-align: center;
    font-size: 1.3em;
    background-color: #5edf1d;
    color:white;
    border:none;
    border-radius: 7px;
}
.add_category .button:hover {
    background-color: #50b944;
    cursor: pointer;
}
/* PRODUCT */

.product_main {
    padding: 20px;
}

.product_content {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.product_image {
    width: 350px;
    height: 350px;
    background-color: orange;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.product_info {
    flex: 1;
    border: 4px solid black;
    padding: 20px;
}

.product_bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
}

.price {
    font-size: 2.5em;
    color: green;
    font-weight: bold;
    margin-right: 20px;
}

.cart_btn {
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: #1aa7d1;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.cart_btn:hover {
    background-color: #1590b3;
}
.alerts {
    padding: 20px 30px;
    background-color: #0fc2ea;
    color: #3c3c3c;
    font-size:20px;
    border-radius: 7px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    display: inline-block;
}
.error {
    padding: 20px 30px;
    background-color: #e17160;
    color: #e0dbdb;
    font-size:20px;
    border-radius: 7px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    display: inline-block;
}
.link {
    text-decoration: none;
    color: #ff622e;

} 
.link:hover {
    color: #0fc2ea;
}
.categories {
    padding-left: 15px;
}
.categories .title {
    padding-left: 40px;
}

/* CATEGORIES */

.categories-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
padding: 40px;
}
.category-card {
background-color: #ffffff;
border-radius: 12px;
padding: 15px;
text-align: center;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
transition: 0.3s;
}
.category-card:hover {
transform: translateY(-5px);
}
.category-image {

border-radius: 8px;
margin-bottom: 15px;
display: flex;
align-items: center;
justify-content: center;
color: #555;
font-size: 14px;
}
.category-card h3 {

margin: 10px 0;
color: #333;
}
.category-card .button {
background-color: #007bff;
color: white;
border: none;
padding: 10px 15px;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}
.category-card button:hover {
background-color: #0056b3;
}